<ion-tabs>
  <!-- TABS -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio" href="/tabs/inicio">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="historial" href="/tabs/historial">
      <ion-icon aria-hidden="true" name="list"></ion-icon>
      <ion-label>Historial</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="equipo" href="/tabs/equipo">
      <ion-icon aria-hidden="true" name="football"></ion-icon>
      <ion-label>Equipo</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
