<ion-header [translucent]="true">
  <nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="max-w-screen-xl flex items-center justify-between mx-auto p-4">
      <a class="flex items-center space-x-3">
        <img src="/src/assets/img/logodechile.png" class="h-8" />
        <span class="text-2xl font-semibold dark:text-white">Escudo De Chile</span>
      </a>

      <div class="relative">
        <button
          #menuToggle
          (click)="isUserMenuOpen = !isUserMenuOpen"
          class="flex text-sm bg-gray-800 rounded-full focus:outline-none"
        >
          <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-3.jpg" alt="user" />
        </button>

        <div *ngIf="isUserMenuOpen" #userMenu class="absolute right-0 mt-2 w-44 bg-white rounded shadow dark:bg-gray-700">
          <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
            <div>Bonnie Green</div>
            <div class="text-gray-500 dark:text-gray-400">namecom</div>
          </div>
          <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-600">Dashboard</a>
          <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-600">Settings</a>
          <a href="/tabs/perfil" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-600">Perfil</a>
          <a (click)="logout()" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-600">Sign out</a>
        </div>
      </div>
    </div>
  </nav>
</ion-header>
