<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>
  <ng-container *ngIf="partidos.length > 0; else noPartidos">
    <ion-card *ngFor="let partido of partidos" class="center">
    <ion-card-header>
      <ion-card-title>{{ partido.nombre }}</ion-card-title>
      <ion-card-subtitle>Fecha: {{ partido.fecha }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content class="grid grid-cols-2 gap-4">
      <ion-button (click)="openModal(partido)" expand="block">Abrir</ion-button>
      <ion-button (click)="openEditModal(partido)" color="warning" expand="block">Editar</ion-button>
    </ion-card-content>
  </ion-card>
  </ng-container>


  <ng-template #noPartidos>
    <div class="content center ion-padding">
      <ion-card>
        <ion-card-header>
          <ion-card-title>No hay partidos registrados para el equipo afiliado</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Registrese en un equipo para poder ver los partidos.</p>
        </ion-card-content>
      </ion-card>
    </div>
  </ng-template>

  <!-- Modal para ver detalles del partido -->
  <ion-modal [isOpen]="isModalOpen" (willDismiss)="onWillDismiss($event)">
    <ng-template>

      <ion-content class="ion-padding center">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ infoPartidos?.nombre }}</ion-card-title>
            <ion-card-subtitle>Fecha: {{ infoPartidos?.fecha }}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <p><strong>Hora: {{ infoPartidos?.hora }}</strong></p>
            <p><strong>Lugar: {{ infoPartidos?.lugar }}</strong></p>
            <p>Goles: local:{{ infoPartidos?.goles_local }} - visitante:{{ infoPartidos?.goles_visitante }}</p>

            <div>
              <ion-button (click)="cancel()">Cerrar</ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- Modal para editar un partido -->
  <ion-modal [isOpen]="isEditModalOpen" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-content>
        <ion-card>

          <ion-card-content>
            <form [formGroup]="updateForm">
              <ion-list lines="inset">

                <ion-item>
                  <ion-label position="floating">Nombre</ion-label>
                  <ion-input type="text" formControlName="nombre"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating">Fecha</ion-label>
                  <ion-input type="date" formControlName="fecha"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating">Hora</ion-label>
                  <ion-input type="time" formControlName="hora"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating">Lugar</ion-label>
                  <ion-input type="text" formControlName="lugar"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating">Equipo Local</ion-label>
                  <ion-select formControlName="equipo_local">
                    <ion-select-option *ngFor="let equipos of equipo" [value]="equipos.id">
                      {{ equipos.nombre }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label position="floating">Equipo Visitante</ion-label>
                  <ion-select formControlName="equipo_visitante">
                    <ion-select-option *ngFor="let equipos of equipo" [value]="equipos.id">
                      {{ equipos.nombre }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label position="floating">Goles Local</ion-label>
                  <ion-input type="number" formControlName="goles_local"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating">Goles Visitante</ion-label>
                  <ion-input type="number" formControlName="goles_visitante"></ion-input>
                </ion-item>

              </ion-list>
            </form>

            <!-- Botones -->
            <div class="grid grid-cols-2 gap-4 ion-padding">
              <ion-button expand="block" (click)="onSubmit()">Guardar</ion-button>
              <ion-button expand="block" fill="outline" color="medium" (click)="cancelEdit()">Cancelar</ion-button>
            </div>

          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>


  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openCreateModal()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>



  <!-- Modal para crear un nuevo partido -->
  <ion-modal [isOpen]="isCreateModalOpen" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-content>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Crear Nuevo Partido</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="createForm">
              <ion-list lines="inset">

                <ion-item>
                  <ion-label position="floating">Nombre</ion-label>
                  <ion-input type="text" formControlName="nombre"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating">Fecha</ion-label>
                  <ion-input type="date" formControlName="fecha"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating">Hora</ion-label>
                  <ion-input type="time" formControlName="hora"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating">Lugar</ion-label>
                  <ion-input type="text" formControlName="lugar"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating">Equipo Local</ion-label>
                  <ion-select formControlName="equipo_local">
                    <ion-select-option *ngFor="let equipos of equipo" [value]="equipos.id">
                      {{ equipos.nombre }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label position="floating">Equipo Visitante</ion-label>
                  <ion-select formControlName="equipo_visitante">
                    <ion-select-option *ngFor="let equipos of equipo" [value]="equipos.id">
                      {{ equipos.nombre }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label position="floating">Goles Local</ion-label>
                  <ion-input type="number" formControlName="goles_local"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating">Goles Visitante</ion-label>
                  <ion-input type="number" formControlName="goles_visitante"></ion-input>
                </ion-item>

              </ion-list>
            </form>

            <div class="grid grid-cols-2 gap-4 ion-padding">
              <ion-button expand="block" (click)="onCreateSubmit()">Guardar</ion-button>
              <ion-button expand="block" fill="outline" color="medium" (click)="cancelCreate()">Cancelar</ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>



</ion-content>
